In [1]:
import os

In [2]:
import findspark
findspark.init()
findspark.find()

'C:\\SPARK\\spark-3.2.1-bin-hadoop3.2'

In [3]:
# import os
# os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
# os.environ["SPARK_HOME"] = "spark-3.2.1-bin-hadoop3.2"

In [4]:
import pyspark

In [5]:
from pyspark.sql import SparkSession
from pyspark import SparkContext, SparkConf

In [6]:
conf = pyspark.SparkConf().setAppName('Netflix').setMaster('local')
sc = pyspark.SparkContext(conf=conf)
spark = SparkSession(sc)

# sc = pyspark.SparkContext(appName="Netflix")

In [7]:
# spark = SparkSession.builder.getOrCreate()

combineddata*.txt is a file that contains: movie_id: user_id, rating, date

c_combineddata.csv is a file that transforms combineddata.txt into movie_id, user_id, rating, date#

In [8]:
from pyspark.sql.types import *

# Combined Data 1

In [9]:
data_schema = StructType([
    StructField('ID Film',IntegerType(), False),
    StructField('ID User',IntegerType(), False),
    StructField('Rating',IntegerType(), False),
    StructField('Tanggal',DateType(), False)
])

In [10]:
df_1 = spark.read.csv(
    'Cleaned Input/dataset/c_combined_data_1.csv', 
    header=True, 
    schema=data_schema
).cache()

In [11]:
df_1.show()
row = df_1.count()
print(f'Number of Rows {row}')

+-------+-------+------+----------+
|ID Film|ID User|Rating|   Tanggal|
+-------+-------+------+----------+
|      1| 822109|     5|2005-05-13|
|      1| 885013|     4|2005-10-19|
|      1|  30878|     4|2005-12-26|
|      1| 823519|     3|2004-05-03|
|      1| 893988|     3|2005-11-17|
|      1| 124105|     4|2004-08-05|
|      1|1248029|     3|2004-04-22|
|      1|1842128|     4|2004-05-09|
|      1|2238063|     3|2005-05-11|
|      1|1503895|     4|2005-05-19|
|      1|2207774|     5|2005-06-06|
|      1|2590061|     3|2004-08-12|
|      1|   2442|     3|2004-04-14|
|      1| 543865|     4|2004-05-28|
|      1|1209119|     4|2004-03-23|
|      1| 804919|     4|2004-06-10|
|      1|1086807|     3|2004-12-28|
|      1|1711859|     4|2005-05-08|
|      1| 372233|     5|2005-11-23|
|      1|1080361|     3|2005-03-28|
+-------+-------+------+----------+
only showing top 20 rows

Number of Rows 24053523

# Combined Data 2

In [12]:
df_2 = spark.read.csv(
    'Cleaned Input/dataset/c_combined_data_2.csv', 
    header=True, 
    schema=data_schema
).cache()

df_2.show()
row = df_2.count()
print(f'Number of Rows {row}')

+-------+-------+------+----------+
|ID Film|ID User|Rating|   Tanggal|
+-------+-------+------+----------+
|   4500| 573364|     3|2005-06-20|
|   4500|1696725|     3|2004-02-27|
|   4500|1253431|     3|2004-03-31|
|   4500|1265574|     2|2003-09-01|
|   4500|1049643|     1|2003-11-15|
|   4500|1601348|     4|2005-04-05|
|   4500|1495289|     5|2005-07-09|
|   4500|1254903|     3|2003-09-02|
|   4500|2604070|     3|2005-05-15|
|   4500|1006473|     5|2005-05-23|
|   4500|1989892|     3|2004-04-06|
|   4500|1517471|     4|2003-12-24|
|   4500|1478381|     4|2005-05-21|
|   4500| 923084|     2|2004-11-15|
|   4500|2446292|     4|2005-10-06|
|   4500|2554745|     3|2003-05-07|
|   4500|1133125|     5|2004-08-10|
|   4500| 349528|     4|2003-08-11|
|   4500|1614895|     5|2004-08-29|
|   4500| 424958|     4|2005-08-02|
+-------+-------+------+----------+
only showing top 20 rows

Number of Rows 26977590

# Combined Data 3

In [13]:
df_3 = spark.read.csv(
    'Cleaned Input/dataset/c_combined_data_3.csv', 
    header=True, 
    schema=data_schema
).cache()

df_3.show()
row = df_3.count()
print(f'Number of Rows {row}')

+-------+-------+------+----------+
|ID Film|ID User|Rating|   Tanggal|
+-------+-------+------+----------+
|   9211|2435457|     2|2005-06-01|
|   9211|2338545|     3|2001-02-17|
|   9211|2218269|     1|2002-12-27|
|   9211| 441153|     4|2002-10-11|
|   9211|1921624|     2|2005-08-31|
|   9211|2096652|     3|2004-05-31|
|   9211| 818736|     2|2004-02-17|
|   9211| 284560|     3|2003-07-27|
|   9211|1211224|     5|2004-05-08|
|   9211|1984086|     1|2004-09-16|
|   9211|1389539|     3|2005-06-07|
|   9211| 454575|     2|2004-10-23|
|   9211| 149028|     3|2003-06-19|
|   9211|1105843|     2|2005-04-07|
|   9211| 353813|     2|2004-08-05|
|   9211| 903779|     3|2001-05-21|
|   9211| 639194|     2|2003-10-19|
|   9211| 308031|     4|2000-09-07|
|   9211|1794933|     1|2003-02-14|
|   9211| 625085|     3|2004-05-21|
+-------+-------+------+----------+
only showing top 20 rows

Number of Rows 22601628

# Combined Data 4

In [14]:
df_4 = spark.read.csv(
    'Cleaned Input/dataset/c_combined_data_4.csv', 
    header=True, 
    schema=data_schema
).cache()

df_4.show()
row = df_4.count()
print(f'Number of Rows {row}')

+-------+-------+------+----------+
|ID Film|ID User|Rating|   Tanggal|
+-------+-------+------+----------+
|  13368| 659432|     3|2005-03-16|
|  13368| 751812|     2|2002-12-16|
|  13368|2625420|     2|2004-05-25|
|  13368|1650301|     1|2005-08-30|
|  13368|2269227|     4|2005-10-27|
|  13368|2220672|     4|2002-08-19|
|  13368|2500511|     4|2003-08-11|
|  13368|1452058|     2|2005-01-29|
|  13368|1624891|     3|2002-07-27|
|  13368| 970031|     3|2004-04-14|
|  13368| 345673|     4|2005-04-07|
|  13368|1426869|     5|2005-04-21|
|  13368|1037088|     2|2005-09-14|
|  13368|2079559|     5|2005-10-08|
|  13368|2175560|     5|2005-01-12|
|  13368| 946805|     4|2005-02-09|
|  13368| 767843|     1|2005-05-04|
|  13368| 464031|     3|2001-02-08|
|  13368|2473764|     4|2005-09-26|
|  13368|2339119|     3|2005-11-27|
+-------+-------+------+----------+
only showing top 20 rows

Number of Rows 26847421

In [15]:
all_samples = df_1.union(df_2.union(df_3.union(df_4)))
all_samples.show()

+-------+-------+------+----------+
|ID Film|ID User|Rating|   Tanggal|
+-------+-------+------+----------+
|      1| 822109|     5|2005-05-13|
|      1| 885013|     4|2005-10-19|
|      1|  30878|     4|2005-12-26|
|      1| 823519|     3|2004-05-03|
|      1| 893988|     3|2005-11-17|
|      1| 124105|     4|2004-08-05|
|      1|1248029|     3|2004-04-22|
|      1|1842128|     4|2004-05-09|
|      1|2238063|     3|2005-05-11|
|      1|1503895|     4|2005-05-19|
|      1|2207774|     5|2005-06-06|
|      1|2590061|     3|2004-08-12|
|      1|   2442|     3|2004-04-14|
|      1| 543865|     4|2004-05-28|
|      1|1209119|     4|2004-03-23|
|      1| 804919|     4|2004-06-10|
|      1|1086807|     3|2004-12-28|
|      1|1711859|     4|2005-05-08|
|      1| 372233|     5|2005-11-23|
|      1|1080361|     3|2005-03-28|
+-------+-------+------+----------+
only showing top 20 rows

In [16]:
all_samples.count()

100480162

# Cek data apakah ada yang kosong

In [17]:
all_samples.show()
#all_samples[['ID Film', 'ID User', 'Rating', 'Tanggal']].summary().show()

+-------+-------+------+----------+
|ID Film|ID User|Rating|   Tanggal|
+-------+-------+------+----------+
|      1| 822109|     5|2005-05-13|
|      1| 885013|     4|2005-10-19|
|      1|  30878|     4|2005-12-26|
|      1| 823519|     3|2004-05-03|
|      1| 893988|     3|2005-11-17|
|      1| 124105|     4|2004-08-05|
|      1|1248029|     3|2004-04-22|
|      1|1842128|     4|2004-05-09|
|      1|2238063|     3|2005-05-11|
|      1|1503895|     4|2005-05-19|
|      1|2207774|     5|2005-06-06|
|      1|2590061|     3|2004-08-12|
|      1|   2442|     3|2004-04-14|
|      1| 543865|     4|2004-05-28|
|      1|1209119|     4|2004-03-23|
|      1| 804919|     4|2004-06-10|
|      1|1086807|     3|2004-12-28|
|      1|1711859|     4|2005-05-08|
|      1| 372233|     5|2005-11-23|
|      1|1080361|     3|2005-03-28|
+-------+-------+------+----------+
only showing top 20 rows

Tidak ada data yang kosong
Jumlah data ada 100.480.162
Data diambil dari 1999-11-11 hingga 2005-12-31

In [18]:
from pyspark.sql.functions import year
added_column = all_samples.withColumn('year', year(all_samples['Tanggal']))

In [19]:
year_list = range(1999,2006)

In [20]:
user_count = []
for y in year_list:
    user_count.append(added_column.select('ID User').where(added_column.year == y).count())

In [21]:
user_count

[2178, 924443, 1769031, 4342871, 9985324, 30206362, 53249953]

# Split Data Training dan Testing
## Tahun 1999 - 2004 Training, 2005 Testing

In [22]:
training_dataset_1 = added_column.select('ID User','ID Film','Rating').where(added_column.year <= 2004)

dataset_2005 = added_column.select('ID User','ID Film','Rating').where(added_column.year == 2005)
(training_dataset_2, testing_dataset) = dataset_2005.randomSplit([0.5, 0.5])

training_dataset = training_dataset_1.union(training_dataset_2)

In [23]:
training_dataset.show()

+-------+-------+------+
|ID User|ID Film|Rating|
+-------+-------+------+
| 823519|      1|     3|
| 124105|      1|     4|
|1248029|      1|     3|
|1842128|      1|     4|
|2590061|      1|     3|
|   2442|      1|     3|
| 543865|      1|     4|
|1209119|      1|     4|
| 804919|      1|     4|
|1086807|      1|     3|
| 558634|      1|     4|
|2165002|      1|     4|
|1181550|      1|     3|
|1227322|      1|     4|
| 427928|      1|     4|
| 786312|      1|     3|
|1133214|      1|     4|
|1537427|      1|     4|
| 525356|      1|     2|
|1910569|      1|     4|
+-------+-------+------+
only showing top 20 rows

# Split Data Training dan Testing
## Tahun 1999 - 2004 Training, 2005 Testing

In [22]:
training_dataset = added_column.select('ID User','ID Film','Rating').where(added_column.year <= 2004)

In [23]:
testing_dataset = added_column.select('ID User','ID Film','Rating').where(added_column.year == 2005)

In [24]:
training_dataset.count()

73860294

In [25]:
testing_dataset.count()

26619868

# testing_dataset.count()

In [26]:
from pyspark.ml.recommendation import ALS, ALSModel
from pyspark.mllib.evaluation import RegressionMetrics, RankingMetrics
from pyspark.ml.evaluation import RegressionEvaluator

In [27]:
als = ALS(maxIter=5, regParam=0.01, 
          userCol="ID User", itemCol="ID Film", ratingCol="Rating",
          coldStartStrategy="drop",
          implicitPrefs=False)
model = als.fit(training_dataset)

ERROR:root:Exception while sending command.
Traceback (most recent call last):
  File "C:\Users\INTEL\anaconda3\lib\site-packages\IPython\core\interactiveshell.py", line 3444, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "C:\Users\INTEL\AppData\Local\Temp/ipykernel_1616/1087180402.py", line 5, in <module>
    model = als.fit(training_dataset)
  File "C:\SPARK\spark-3.2.1-bin-hadoop3.2\python\pyspark\ml\base.py", line 161, in fit
    return self._fit(dataset)
  File "C:\SPARK\spark-3.2.1-bin-hadoop3.2\python\pyspark\ml\wrapper.py", line 335, in _fit
    java_model = self._fit_java(dataset)
  File "C:\SPARK\spark-3.2.1-bin-hadoop3.2\python\pyspark\ml\wrapper.py", line 332, in _fit_java
    return self._java_obj.fit(dataset._jdf)
  File "C:\SPARK\spark-3.2.1-bin-hadoop3.2\python\lib\py4j-0.10.9.3-src.zip\py4j\java_gateway.py", line 1321, in __call__
    return_value = get_return_value(
  File "C:\SPARK\spark-3.2.1-bin-hadoop3.2\python\pyspark\sql\utils.py", line 111, in deco
    return f(*a, **kw)
  File "C:\SPARK\spark-3.2.1-bin-hadoop3.2\python\lib\py4j-0.10.9.3-src.zip\py4j\protocol.py", line 326, in get_return_value
    raise Py4JJavaError(
py4j.protocol.Py4JJavaError: <unprintable Py4JJavaError object>

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\Users\INTEL\anaconda3\lib\site-packages\IPython\core\interactiveshell.py", line 2064, in showtraceback
    stb = value._render_traceback_()
AttributeError: 'Py4JJavaError' object has no attribute '_render_traceback_'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\SPARK\spark-3.2.1-bin-hadoop3.2\python\lib\py4j-0.10.9.3-src.zip\py4j\clientserver.py", line 475, in send_command
    answer = smart_decode(self.stream.readline()[:-1])
  File "C:\Users\INTEL\anaconda3\lib\socket.py", line 704, in readinto
    return self._sock.recv_into(b)
ConnectionResetError: [WinError 10054] An existing connection was forcibly closed by the remote host

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\SPARK\spark-3.2.1-bin-hadoop3.2\python\lib\py4j-0.10.9.3-src.zip\py4j\java_gateway.py", line 1038, in send_command
    response = connection.send_command(command)
  File "C:\SPARK\spark-3.2.1-bin-hadoop3.2\python\lib\py4j-0.10.9.3-src.zip\py4j\clientserver.py", line 503, in send_command
    raise Py4JNetworkError(
py4j.protocol.Py4JNetworkError: Error while sending or receiving

ConnectionRefusedError: [WinError 10061] No connection could be made because the target machine actively refused it

In [ ]:
# Evaluate the model by computing the RMSE on the test data
predictions = model.transform(testing_dataset)
evaluator = RegressionEvaluator(metricName="rmse", labelCol="Rating",
                                predictionCol="prediction")

rmse = evaluator.evaluate(predictions)
print("Root-mean-square error = " + str(rmse))