In [1]:
import os

In [2]:
import findspark
findspark.init()

In [3]:
import pyspark

In [4]:
from pyspark.sql import SparkSession

In [5]:
sc = pyspark.SparkContext(appName="Netflix")

In [6]:
spark = SparkSession.builder.getOrCreate()

combined_data_*.txt is a file that contains:
movie_id:
user_id, rating, date

c_combined_data_*.csv is a file that transforms combined_data_*.txt into
movie_id, user_id, rating, date

# Combined Data 1

In [7]:
df = spark.read.format("com.databricks.spark.csv").option("header", "true").load("Cleaned Input/c_combined_data_1.csv")
df.show()
row = df.count()
print(f'Number of Rows {row}')

+-------+-------+------+----------+
|ID Film|ID User|Rating|   Tanggal|
+-------+-------+------+----------+
|      1| 822109|     5|2005-05-13|
|      1| 885013|     4|2005-10-19|
|      1|  30878|     4|2005-12-26|
|      1| 823519|     3|2004-05-03|
|      1| 893988|     3|2005-11-17|
|      1| 124105|     4|2004-08-05|
|      1|1248029|     3|2004-04-22|
|      1|1842128|     4|2004-05-09|
|      1|2238063|     3|2005-05-11|
|      1|1503895|     4|2005-05-19|
|      1|2207774|     5|2005-06-06|
|      1|2590061|     3|2004-08-12|
|      1|   2442|     3|2004-04-14|
|      1| 543865|     4|2004-05-28|
|      1|1209119|     4|2004-03-23|
|      1| 804919|     4|2004-06-10|
|      1|1086807|     3|2004-12-28|
|      1|1711859|     4|2005-05-08|
|      1| 372233|     5|2005-11-23|
|      1|1080361|     3|2005-03-28|
+-------+-------+------+----------+
only showing top 20 rows

Number of Rows 24053523

In [8]:
import random

In [9]:
sample_comb_1 = df.sample(False, 0.5, random.randint(0,100))
sample_comb_1.show()

+-------+-------+------+----------+
|ID Film|ID User|Rating|   Tanggal|
+-------+-------+------+----------+
|      1| 893988|     3|2005-11-17|
|      1|1842128|     4|2004-05-09|
|      1|1503895|     4|2005-05-19|
|      1|2590061|     3|2004-08-12|
|      1|1209119|     4|2004-03-23|
|      1| 804919|     4|2004-06-10|
|      1|1711859|     4|2005-05-08|
|      1|1080361|     3|2005-03-28|
|      1|2165002|     4|2004-04-06|
|      1| 427928|     4|2004-02-26|
|      1| 808731|     4|2005-10-31|
|      1| 662870|     5|2005-08-24|
|      1| 337541|     5|2005-03-23|
|      1| 786312|     3|2004-11-16|
|      1|1133214|     4|2004-03-07|
|      1|1537427|     4|2004-03-29|
|      1|2263586|     4|2004-08-20|
|      1| 401047|     4|2005-06-03|
|      1|2179073|     3|2004-08-29|
|      1|  93986|     5|2005-10-06|
+-------+-------+------+----------+
only showing top 20 rows

In [10]:
sample_comb_1.count()

12022716

# Combined Data 2

In [11]:
df = spark.read.format("com.databricks.spark.csv").option("header", "true").load("Cleaned Input/c_combined_data_2.csv")
df.show()
row = df.count()
print(f'Number of Rows {row}')

+-------+-------+------+----------+
|ID Film|ID User|Rating|   Tanggal|
+-------+-------+------+----------+
|   4500| 573364|     3|2005-06-20|
|   4500|1696725|     3|2004-02-27|
|   4500|1253431|     3|2004-03-31|
|   4500|1265574|     2|2003-09-01|
|   4500|1049643|     1|2003-11-15|
|   4500|1601348|     4|2005-04-05|
|   4500|1495289|     5|2005-07-09|
|   4500|1254903|     3|2003-09-02|
|   4500|2604070|     3|2005-05-15|
|   4500|1006473|     5|2005-05-23|
|   4500|1989892|     3|2004-04-06|
|   4500|1517471|     4|2003-12-24|
|   4500|1478381|     4|2005-05-21|
|   4500| 923084|     2|2004-11-15|
|   4500|2446292|     4|2005-10-06|
|   4500|2554745|     3|2003-05-07|
|   4500|1133125|     5|2004-08-10|
|   4500| 349528|     4|2003-08-11|
|   4500|1614895|     5|2004-08-29|
|   4500| 424958|     4|2005-08-02|
+-------+-------+------+----------+
only showing top 20 rows

Number of Rows 26977590

In [51]:
sample_comb_2 = df.sample(False, 0.5, 2)
sample_comb_2.show()

+-------+-------+------+----------+
|ID Film|ID User|Rating|   Tanggal|
+-------+-------+------+----------+
|  13368| 751812|     2|2002-12-16|
|  13368|2625420|     2|2004-05-25|
|  13368|1650301|     1|2005-08-30|
|  13368|2220672|     4|2002-08-19|
|  13368|2500511|     4|2003-08-11|
|  13368|1452058|     2|2005-01-29|
|  13368| 970031|     3|2004-04-14|
|  13368|1426869|     5|2005-04-21|
|  13368|1037088|     2|2005-09-14|
|  13368|2079559|     5|2005-10-08|
|  13368| 946805|     4|2005-02-09|
|  13368| 464031|     3|2001-02-08|
|  13368|2473764|     4|2005-09-26|
|  13368|2339119|     3|2005-11-27|
|  13368|2622206|     4|2005-10-09|
|  13368|1558606|     3|2004-06-21|
|  13368|1315220|     5|2002-05-15|
|  13368| 719833|     4|2003-07-20|
|  13368| 324891|     5|2005-04-23|
|  13368|1203136|     3|2001-05-12|
+-------+-------+------+----------+
only showing top 20 rows

In [13]:
sample_comb_2.count()

13486701

# Combined Data 3

In [15]:
df = spark.read.format("com.databricks.spark.csv").option("header", "true").load("Cleaned Input/c_combined_data_3.csv")
df.show()
row = df.count()
print(f'Number of Rows {row}')

+-------+-------+------+----------+
|ID Film|ID User|Rating|   Tanggal|
+-------+-------+------+----------+
|   9211|2435457|     2|2005-06-01|
|   9211|2338545|     3|2001-02-17|
|   9211|2218269|     1|2002-12-27|
|   9211| 441153|     4|2002-10-11|
|   9211|1921624|     2|2005-08-31|
|   9211|2096652|     3|2004-05-31|
|   9211| 818736|     2|2004-02-17|
|   9211| 284560|     3|2003-07-27|
|   9211|1211224|     5|2004-05-08|
|   9211|1984086|     1|2004-09-16|
|   9211|1389539|     3|2005-06-07|
|   9211| 454575|     2|2004-10-23|
|   9211| 149028|     3|2003-06-19|
|   9211|1105843|     2|2005-04-07|
|   9211| 353813|     2|2004-08-05|
|   9211| 903779|     3|2001-05-21|
|   9211| 639194|     2|2003-10-19|
|   9211| 308031|     4|2000-09-07|
|   9211|1794933|     1|2003-02-14|
|   9211| 625085|     3|2004-05-21|
+-------+-------+------+----------+
only showing top 20 rows

Number of Rows 22601628

In [16]:
sample_comb_3 = df.sample(False, 0.5, random.randint(0,100))
sample_comb_3.show()

+-------+-------+------+----------+
|ID Film|ID User|Rating|   Tanggal|
+-------+-------+------+----------+
|   9211|2338545|     3|2001-02-17|
|   9211|2096652|     3|2004-05-31|
|   9211| 818736|     2|2004-02-17|
|   9211| 284560|     3|2003-07-27|
|   9211|1211224|     5|2004-05-08|
|   9211|1984086|     1|2004-09-16|
|   9211| 454575|     2|2004-10-23|
|   9211| 149028|     3|2003-06-19|
|   9211| 639194|     2|2003-10-19|
|   9211| 625085|     3|2004-05-21|
|   9211| 893673|     2|2000-12-04|
|   9211| 371300|     2|2004-08-10|
|   9211|1172345|     1|2005-04-23|
|   9211| 823026|     2|2004-01-08|
|   9211|1785621|     2|2004-04-18|
|   9211| 155342|     1|2003-01-21|
|   9211|1583838|     4|2004-08-13|
|   9211|1559022|     3|2004-05-15|
|   9211| 569379|     3|2004-11-22|
|   9211| 690965|     2|2005-07-13|
+-------+-------+------+----------+
only showing top 20 rows

# Combined Data 4

In [17]:
df = spark.read.format("com.databricks.spark.csv").option("header", "true").load("Cleaned Input/c_combined_data_4.csv")
df.show()
row = df.count()
print(f'Number of Rows {row}')

+-------+-------+------+----------+
|ID Film|ID User|Rating|   Tanggal|
+-------+-------+------+----------+
|  13368| 659432|     3|2005-03-16|
|  13368| 751812|     2|2002-12-16|
|  13368|2625420|     2|2004-05-25|
|  13368|1650301|     1|2005-08-30|
|  13368|2269227|     4|2005-10-27|
|  13368|2220672|     4|2002-08-19|
|  13368|2500511|     4|2003-08-11|
|  13368|1452058|     2|2005-01-29|
|  13368|1624891|     3|2002-07-27|
|  13368| 970031|     3|2004-04-14|
|  13368| 345673|     4|2005-04-07|
|  13368|1426869|     5|2005-04-21|
|  13368|1037088|     2|2005-09-14|
|  13368|2079559|     5|2005-10-08|
|  13368|2175560|     5|2005-01-12|
|  13368| 946805|     4|2005-02-09|
|  13368| 767843|     1|2005-05-04|
|  13368| 464031|     3|2001-02-08|
|  13368|2473764|     4|2005-09-26|
|  13368|2339119|     3|2005-11-27|
+-------+-------+------+----------+
only showing top 20 rows

Number of Rows 26847421

In [18]:
sample_comb_4 = df.sample(False, 0.5, random.randint(0,100))
sample_comb_4.show()

+-------+-------+------+----------+
|ID Film|ID User|Rating|   Tanggal|
+-------+-------+------+----------+
|  13368| 659432|     3|2005-03-16|
|  13368| 751812|     2|2002-12-16|
|  13368|2625420|     2|2004-05-25|
|  13368|1650301|     1|2005-08-30|
|  13368|2269227|     4|2005-10-27|
|  13368|1452058|     2|2005-01-29|
|  13368|1624891|     3|2002-07-27|
|  13368| 345673|     4|2005-04-07|
|  13368| 946805|     4|2005-02-09|
|  13368|2473764|     4|2005-09-26|
|  13368|2339119|     3|2005-11-27|
|  13368|1558606|     3|2004-06-21|
|  13368| 945258|     3|2005-05-03|
|  13368|1315220|     5|2002-05-15|
|  13368|1860412|     3|2003-07-29|
|  13368|1338852|     3|2003-07-14|
|  13368| 719833|     4|2003-07-20|
|  13368| 324891|     5|2005-04-23|
|  13368|1203136|     3|2001-05-12|
|  13368|  17099|     3|2004-09-01|
+-------+-------+------+----------+
only showing top 20 rows