In [1]:
import os

In [2]:
import findspark
findspark.init()
findspark.find()

'C:\\spark-3.2.1-bin-hadoop3.2'

In [3]:
# import os
# os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
# os.environ["SPARK_HOME"] = "spark-3.2.1-bin-hadoop3.2"

In [4]:
import pyspark

In [5]:
from pyspark.sql import SparkSession
from pyspark import SparkContext, SparkConf

In [6]:
conf = pyspark.SparkConf().setAppName('Netflix').setMaster('local')
sc = pyspark.SparkContext(conf=conf)
spark = SparkSession(sc)

# sc = pyspark.SparkContext(appName="Netflix")

In [7]:
# spark = SparkSession.builder.getOrCreate()

combineddata*.txt is a file that contains: movie_id: user_id, rating, date

c_combineddata.csv is a file that transforms combineddata.txt into movie_id, user_id, rating, date#

In [8]:
from pyspark.sql.types import *

# Combined Data 1

In [9]:
data_schema = StructType([
    StructField('ID Film',IntegerType(), False),
    StructField('ID User',IntegerType(), False),
    StructField('Rating',IntegerType(), False),
    StructField('Tanggal',DateType(), False)
])

In [10]:
df_1 = spark.read.csv(
    'Cleaned Input/dataset/c_combined_data_1.csv', 
    header=True, 
    schema=data_schema
).cache()

In [11]:
df_1.show()
# row = df_1.count()
# print(f'Number of Rows {row}')

+-------+-------+------+----------+
|ID Film|ID User|Rating|   Tanggal|
+-------+-------+------+----------+
|      1| 822109|     5|2005-05-13|
|      1| 885013|     4|2005-10-19|
|      1|  30878|     4|2005-12-26|
|      1| 823519|     3|2004-05-03|
|      1| 893988|     3|2005-11-17|
|      1| 124105|     4|2004-08-05|
|      1|1248029|     3|2004-04-22|
|      1|1842128|     4|2004-05-09|
|      1|2238063|     3|2005-05-11|
|      1|1503895|     4|2005-05-19|
|      1|2207774|     5|2005-06-06|
|      1|2590061|     3|2004-08-12|
|      1|   2442|     3|2004-04-14|
|      1| 543865|     4|2004-05-28|
|      1|1209119|     4|2004-03-23|
|      1| 804919|     4|2004-06-10|
|      1|1086807|     3|2004-12-28|
|      1|1711859|     4|2005-05-08|
|      1| 372233|     5|2005-11-23|
|      1|1080361|     3|2005-03-28|
+-------+-------+------+----------+
only showing top 20 rows

# Combined Data 2

In [12]:
df_2 = spark.read.csv(
    'Cleaned Input/dataset/c_combined_data_2.csv', 
    header=True, 
    schema=data_schema
).cache()

df_2.show()
# row = df_2.count()
# print(f'Number of Rows {row}')

+-------+-------+------+----------+
|ID Film|ID User|Rating|   Tanggal|
+-------+-------+------+----------+
|   4500| 573364|     3|2005-06-20|
|   4500|1696725|     3|2004-02-27|
|   4500|1253431|     3|2004-03-31|
|   4500|1265574|     2|2003-09-01|
|   4500|1049643|     1|2003-11-15|
|   4500|1601348|     4|2005-04-05|
|   4500|1495289|     5|2005-07-09|
|   4500|1254903|     3|2003-09-02|
|   4500|2604070|     3|2005-05-15|
|   4500|1006473|     5|2005-05-23|
|   4500|1989892|     3|2004-04-06|
|   4500|1517471|     4|2003-12-24|
|   4500|1478381|     4|2005-05-21|
|   4500| 923084|     2|2004-11-15|
|   4500|2446292|     4|2005-10-06|
|   4500|2554745|     3|2003-05-07|
|   4500|1133125|     5|2004-08-10|
|   4500| 349528|     4|2003-08-11|
|   4500|1614895|     5|2004-08-29|
|   4500| 424958|     4|2005-08-02|
+-------+-------+------+----------+
only showing top 20 rows

# Combined Data 3

In [13]:
df_3 = spark.read.csv(
    'Cleaned Input/dataset/c_combined_data_3.csv', 
    header=True, 
    schema=data_schema
).cache()

df_3.show()
# row = df_3.count()
# print(f'Number of Rows {row}')

+-------+-------+------+----------+
|ID Film|ID User|Rating|   Tanggal|
+-------+-------+------+----------+
|   9211|2435457|     2|2005-06-01|
|   9211|2338545|     3|2001-02-17|
|   9211|2218269|     1|2002-12-27|
|   9211| 441153|     4|2002-10-11|
|   9211|1921624|     2|2005-08-31|
|   9211|2096652|     3|2004-05-31|
|   9211| 818736|     2|2004-02-17|
|   9211| 284560|     3|2003-07-27|
|   9211|1211224|     5|2004-05-08|
|   9211|1984086|     1|2004-09-16|
|   9211|1389539|     3|2005-06-07|
|   9211| 454575|     2|2004-10-23|
|   9211| 149028|     3|2003-06-19|
|   9211|1105843|     2|2005-04-07|
|   9211| 353813|     2|2004-08-05|
|   9211| 903779|     3|2001-05-21|
|   9211| 639194|     2|2003-10-19|
|   9211| 308031|     4|2000-09-07|
|   9211|1794933|     1|2003-02-14|
|   9211| 625085|     3|2004-05-21|
+-------+-------+------+----------+
only showing top 20 rows

# Combined Data 4

In [14]:
df_4 = spark.read.csv(
    'Cleaned Input/dataset/c_combined_data_4.csv', 
    header=True, 
    schema=data_schema
).cache()

df_4.show()
# row = df_4.count()
# print(f'Number of Rows {row}')

+-------+-------+------+----------+
|ID Film|ID User|Rating|   Tanggal|
+-------+-------+------+----------+
|  13368| 659432|     3|2005-03-16|
|  13368| 751812|     2|2002-12-16|
|  13368|2625420|     2|2004-05-25|
|  13368|1650301|     1|2005-08-30|
|  13368|2269227|     4|2005-10-27|
|  13368|2220672|     4|2002-08-19|
|  13368|2500511|     4|2003-08-11|
|  13368|1452058|     2|2005-01-29|
|  13368|1624891|     3|2002-07-27|
|  13368| 970031|     3|2004-04-14|
|  13368| 345673|     4|2005-04-07|
|  13368|1426869|     5|2005-04-21|
|  13368|1037088|     2|2005-09-14|
|  13368|2079559|     5|2005-10-08|
|  13368|2175560|     5|2005-01-12|
|  13368| 946805|     4|2005-02-09|
|  13368| 767843|     1|2005-05-04|
|  13368| 464031|     3|2001-02-08|
|  13368|2473764|     4|2005-09-26|
|  13368|2339119|     3|2005-11-27|
+-------+-------+------+----------+
only showing top 20 rows

In [15]:
all_samples = df_1.union(df_2.union(df_3.union(df_4)))
all_samples.show()

+-------+-------+------+----------+
|ID Film|ID User|Rating|   Tanggal|
+-------+-------+------+----------+
|      1| 822109|     5|2005-05-13|
|      1| 885013|     4|2005-10-19|
|      1|  30878|     4|2005-12-26|
|      1| 823519|     3|2004-05-03|
|      1| 893988|     3|2005-11-17|
|      1| 124105|     4|2004-08-05|
|      1|1248029|     3|2004-04-22|
|      1|1842128|     4|2004-05-09|
|      1|2238063|     3|2005-05-11|
|      1|1503895|     4|2005-05-19|
|      1|2207774|     5|2005-06-06|
|      1|2590061|     3|2004-08-12|
|      1|   2442|     3|2004-04-14|
|      1| 543865|     4|2004-05-28|
|      1|1209119|     4|2004-03-23|
|      1| 804919|     4|2004-06-10|
|      1|1086807|     3|2004-12-28|
|      1|1711859|     4|2005-05-08|
|      1| 372233|     5|2005-11-23|
|      1|1080361|     3|2005-03-28|
+-------+-------+------+----------+
only showing top 20 rows

In [16]:
# all_samples.count()

# Cek data apakah ada yang kosong

In [17]:
all_samples.show()
#all_samples[['ID Film', 'ID User', 'Rating', 'Tanggal']].summary().show()

+-------+-------+------+----------+
|ID Film|ID User|Rating|   Tanggal|
+-------+-------+------+----------+
|      1| 822109|     5|2005-05-13|
|      1| 885013|     4|2005-10-19|
|      1|  30878|     4|2005-12-26|
|      1| 823519|     3|2004-05-03|
|      1| 893988|     3|2005-11-17|
|      1| 124105|     4|2004-08-05|
|      1|1248029|     3|2004-04-22|
|      1|1842128|     4|2004-05-09|
|      1|2238063|     3|2005-05-11|
|      1|1503895|     4|2005-05-19|
|      1|2207774|     5|2005-06-06|
|      1|2590061|     3|2004-08-12|
|      1|   2442|     3|2004-04-14|
|      1| 543865|     4|2004-05-28|
|      1|1209119|     4|2004-03-23|
|      1| 804919|     4|2004-06-10|
|      1|1086807|     3|2004-12-28|
|      1|1711859|     4|2005-05-08|
|      1| 372233|     5|2005-11-23|
|      1|1080361|     3|2005-03-28|
+-------+-------+------+----------+
only showing top 20 rows

Tidak ada data yang kosong
Jumlah data ada 100.480.162
Data diambil dari 1999-11-11 hingga 2005-12-31

In [18]:
from pyspark.sql.functions import year
added_column = all_samples.withColumn('year', year(all_samples['Tanggal']))

In [19]:
# year_list = range(1999,2006)

In [20]:
# user_count = []
# for y in year_list:
#     user_count.append(added_column.select('ID User').where(added_column.year == y).count())

In [21]:
# user_count

# Split Data Training dan Testing
## Tahun 1999 - 2004 Training, 2005 Testing

In [22]:
# training_dataset_1 = added_column.select('ID User','ID Film','Rating').where(added_column.year <= 2004)

# dataset_2005 = added_column.select('ID User','ID Film','Rating').where(added_column.year == 2005)

In [23]:
# from pyspark.sql.functions import *
# from pyspark.sql.window import *

# dataset_2005 = dataset_2005.orderBy('Tanggal').withColumn("monotonically_increasing_id", monotonically_increasing_id())
# window = Window.orderBy(col('monotonically_increasing_id'))
# dataset_2005 = dataset_2005.withColumn('id', row_number().over(window))

# training_dataset_2 = dataset_2005.select('ID User','ID Film','Rating').where(dataset_2005.id <= 20000000)

# training_dataset = training_dataset_1.union(training_dataset_2)
# testing_dataset = dataset_2005.select('ID User','ID Film','Rating').where(dataset_2005.id > 20000000)

In [24]:
training_dataset_1 = added_column.select('ID User','ID Film','Rating').where(added_column.year <= 2004)

dataset_2005 = added_column.select('ID User','ID Film','Rating').where(added_column.year == 2005).orderBy('Tanggal')


from pyspark.sql.functions import *
from pyspark.sql.window import *

dataset_2005 = dataset_2005.orderBy('Tanggal')
dataset_2005 = dataset_2005.withColumn("monotonically_increasing_id", monotonically_increasing_id())


window = Window.orderBy(col('monotonically_increasing_id'))
dataset_2005 = dataset_2005.withColumn('id', row_number().over(window))

dataset_bonus = dataset_2005.select('ID User','ID Film','Rating').where(dataset_2005.id <= 33000000)

training_dataset = training_dataset_1.union(dataset_bonus)
testing_dataset = dataset_2005.select('ID User','ID Film','Rating').where(dataset_2005.id > 33000000)

In [25]:
training_dataset.count()

80230209

In [26]:
testing_dataset.count()

20249953

# testing_dataset.count()

In [27]:
from pyspark.ml.recommendation import ALS, ALSModel
from pyspark.ml.tuning import ParamGridBuilder, CrossValidator
from pyspark.mllib.evaluation import RegressionMetrics, RankingMetrics
from pyspark.ml.evaluation import RegressionEvaluator

In [38]:
def training_model(training_dataset, maxIter=5, regParam=0.1, rank=10, numItemBlocks=15, numUserBlocks=15, alpha=1):
    als = ALS(maxIter=maxIter, 
              regParam=regParam, 
              userCol="ID User", 
              itemCol="ID Film", 
              ratingCol="Rating",
              rank=rank,
              numItemBlocks=numItemBlocks,
              numUserBlocks = numUserBlocks,
              alpha = alpha,
              nonnegative = True, 
              coldStartStrategy="drop",
             implicitPrefs=False)
    model = als.fit(training_dataset)
    return model,als

In [39]:
def evaluate_model(model,testing_dataset):
    predictions = model.transform(testing_dataset)
    evaluator = RegressionEvaluator(
                        metricName="rmse", 
                        labelCol="Rating",
                        predictionCol="prediction")

    rmse = evaluator.evaluate(predictions)
    print("Root-mean-square error = " + str(rmse))

# ======

In [40]:
model,als = training_model(training_dataset, 
                       maxIter=15, 
                       regParam=0.08, 
                       rank=20, 
                       numItemBlocks=30, 
                       numUserBlocks=30, 
                       alpha=0.95 )

In [41]:
evaluate_model(model,testing_dataset)

Root-mean-square error = 0.9420246259113683

In [67]:
best_model = model.recommendForAllUsers(10)
best_model.limit(10).show()

+-------+--------------------+
|ID User|     recommendations|
+-------+--------------------+
|    296|[{13635, 4.637179...|
|    392|[{13684, 3.991778...|
|    471|[{13635, 5.017137...|
|    481|[{9599, 5.680025}...|
|    540|[{13635, 6.045090...|
|    623|[{14630, 4.799587...|
|    633|[{9599, 4.990544}...|
|    857|[{13504, 4.901835...|
|   1088|[{13504, 4.855355...|
|   1522|[{2942, 5.197427}...|
+-------+--------------------+

In [69]:
nrecommendations = best_model\
    .withColumn("rec_exp", explode("recommendations"))\
    .select('ID User', col("rec_exp.ID Film"), col("rec_exp.Rating"))

nrecommendations.limit(10).show()

+-------+-------+---------+
|ID User|ID Film|   Rating|
+-------+-------+---------+
|    296|  13635| 4.637179|
|    296|    933| 4.622764|
|    296|  10316|4.5790715|
|    296|     32|4.5607915|
|    296|   7252| 4.540528|
|    296|  16566|4.5050397|
|    296|   4048| 4.501928|
|    296|  16886| 4.501011|
|    296|   8970|4.4972596|
|    296|  17182|  4.49337|
+-------+-------+---------+

In [76]:
data_schema = StructType([
    StructField('ID Film',IntegerType(), False),
    StructField('year',IntegerType(), False),
    StructField('Movie Name',StringType(), False),
])

movies = spark.read.csv(
    'movie_titles.csv', 
    header=True, 
    schema=data_schema
).cache()

movies.show()

# from pyspark.ml.recommendation import ALSModel

# model2 = ALSModel.load('ModelSaveOut')

+-------+----+--------------------+
|ID Film|year|          Movie Name|
+-------+----+--------------------+
|      1|2003|     Dinosaur Planet|
|      2|2004|Isle of Man TT 20...|
|      3|1997|           Character|
|      4|1994|Paula Abdul's Get...|
|      5|2004|The Rise and Fall...|
|      6|1997|                Sick|
|      7|1992|               8 Man|
|      8|2004|What the #$*! Do ...|
|      9|1991|Class of Nuke 'Em...|
|     10|2001|             Fighter|
|     11|1999|Full Frame: Docum...|
|     12|1947|My Favorite Brunette|
|     13|2003|Lord of the Rings...|
|     14|1982|  Nature: Antarctica|
|     15|1988|Neil Diamond: Gre...|
|     16|1996|           Screamers|
|     17|2005|           7 Seconds|
|     18|1994|    Immortal Beloved|
|     19|2000|By Dawn's Early L...|
|     20|1972|     Seeta Aur Geeta|
+-------+----+--------------------+
only showing top 20 rows

In [79]:
nrecommendations.join(movies, on='ID Film').filter('`ID User`=857').show()

+-------+-------+---------+----+--------------------+
|ID Film|ID User|   Rating|year|          Movie Name|
+-------+-------+---------+----+--------------------+
|  13504|    857|4.9018354|2004|               House|
|  14818|    857|4.8458295|1993|     Chef!: Series 1|
|   9864|    857| 4.825719|2004|Battlestar Galact...|
|   8081|    857| 4.820572|1994|Knowing Me Knowin...|
|   6725|    857|4.8088875|1979|       Connections 3|
|   5494|    857|4.8088875|1979|       Connections 2|
|  13922|    857|4.8041487|2003|Little Britain: S...|
|  10065|    857| 4.785265|2005|    Nina's Tragedies|
|  13635|    857|4.7820425|2001|The Amazing Race:...|
|   3771|    857| 4.763016|1974|   Kung Fu: Season 3|
+-------+-------+---------+----+--------------------+

In [83]:
als.save('best')

Py4JJavaError: An error occurred while calling o1912.save.
: org.apache.spark.SparkException: Job aborted.
	at org.apache.spark.internal.io.SparkHadoopWriter$.write(SparkHadoopWriter.scala:106)
	at org.apache.spark.rdd.PairRDDFunctions.$anonfun$saveAsHadoopDataset$1(PairRDDFunctions.scala:1090)
	at scala.runtime.java8.JFunction0$mcV$sp.apply(JFunction0$mcV$sp.java:23)
	at org.apache.spark.rdd.RDDOperationScope$.withScope(RDDOperationScope.scala:151)
	at org.apache.spark.rdd.RDDOperationScope$.withScope(RDDOperationScope.scala:112)
	at org.apache.spark.rdd.RDD.withScope(RDD.scala:414)
	at org.apache.spark.rdd.PairRDDFunctions.saveAsHadoopDataset(PairRDDFunctions.scala:1088)
	at org.apache.spark.rdd.PairRDDFunctions.$anonfun$saveAsHadoopFile$4(PairRDDFunctions.scala:1061)
	at scala.runtime.java8.JFunction0$mcV$sp.apply(JFunction0$mcV$sp.java:23)
	at org.apache.spark.rdd.RDDOperationScope$.withScope(RDDOperationScope.scala:151)
	at org.apache.spark.rdd.RDDOperationScope$.withScope(RDDOperationScope.scala:112)
	at org.apache.spark.rdd.RDD.withScope(RDD.scala:414)
	at org.apache.spark.rdd.PairRDDFunctions.saveAsHadoopFile(PairRDDFunctions.scala:1026)
	at org.apache.spark.rdd.PairRDDFunctions.$anonfun$saveAsHadoopFile$3(PairRDDFunctions.scala:1008)
	at scala.runtime.java8.JFunction0$mcV$sp.apply(JFunction0$mcV$sp.java:23)
	at org.apache.spark.rdd.RDDOperationScope$.withScope(RDDOperationScope.scala:151)
	at org.apache.spark.rdd.RDDOperationScope$.withScope(RDDOperationScope.scala:112)
	at org.apache.spark.rdd.RDD.withScope(RDD.scala:414)
	at org.apache.spark.rdd.PairRDDFunctions.saveAsHadoopFile(PairRDDFunctions.scala:1007)
	at org.apache.spark.rdd.PairRDDFunctions.$anonfun$saveAsHadoopFile$2(PairRDDFunctions.scala:964)
	at scala.runtime.java8.JFunction0$mcV$sp.apply(JFunction0$mcV$sp.java:23)
	at org.apache.spark.rdd.RDDOperationScope$.withScope(RDDOperationScope.scala:151)
	at org.apache.spark.rdd.RDDOperationScope$.withScope(RDDOperationScope.scala:112)
	at org.apache.spark.rdd.RDD.withScope(RDD.scala:414)
	at org.apache.spark.rdd.PairRDDFunctions.saveAsHadoopFile(PairRDDFunctions.scala:962)
	at org.apache.spark.rdd.RDD.$anonfun$saveAsTextFile$2(RDD.scala:1578)
	at scala.runtime.java8.JFunction0$mcV$sp.apply(JFunction0$mcV$sp.java:23)
	at org.apache.spark.rdd.RDDOperationScope$.withScope(RDDOperationScope.scala:151)
	at org.apache.spark.rdd.RDDOperationScope$.withScope(RDDOperationScope.scala:112)
	at org.apache.spark.rdd.RDD.withScope(RDD.scala:414)
	at org.apache.spark.rdd.RDD.saveAsTextFile(RDD.scala:1578)
	at org.apache.spark.rdd.RDD.$anonfun$saveAsTextFile$1(RDD.scala:1564)
	at scala.runtime.java8.JFunction0$mcV$sp.apply(JFunction0$mcV$sp.java:23)
	at org.apache.spark.rdd.RDDOperationScope$.withScope(RDDOperationScope.scala:151)
	at org.apache.spark.rdd.RDDOperationScope$.withScope(RDDOperationScope.scala:112)
	at org.apache.spark.rdd.RDD.withScope(RDD.scala:414)
	at org.apache.spark.rdd.RDD.saveAsTextFile(RDD.scala:1564)
	at org.apache.spark.ml.util.DefaultParamsWriter$.saveMetadata(ReadWrite.scala:413)
	at org.apache.spark.ml.util.DefaultParamsWriter.saveImpl(ReadWrite.scala:384)
	at org.apache.spark.ml.util.MLWriter.save(ReadWrite.scala:168)
	at sun.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at sun.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:62)
	at sun.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.lang.reflect.Method.invoke(Method.java:498)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:357)
	at py4j.Gateway.invoke(Gateway.java:282)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.ClientServerConnection.waitForCommands(ClientServerConnection.java:182)
	at py4j.ClientServerConnection.run(ClientServerConnection.java:106)
	at java.lang.Thread.run(Thread.java:750)
Caused by: java.lang.UnsatisfiedLinkError: org.apache.hadoop.io.nativeio.NativeIO$Windows.access0(Ljava/lang/String;I)Z
	at org.apache.hadoop.io.nativeio.NativeIO$Windows.access0(Native Method)
	at org.apache.hadoop.io.nativeio.NativeIO$Windows.access(NativeIO.java:793)
	at org.apache.hadoop.fs.FileUtil.canRead(FileUtil.java:1215)
	at org.apache.hadoop.fs.FileUtil.list(FileUtil.java:1420)
	at org.apache.hadoop.fs.RawLocalFileSystem.listStatus(RawLocalFileSystem.java:601)
	at org.apache.hadoop.fs.FileSystem.listStatus(FileSystem.java:1972)
	at org.apache.hadoop.fs.FileSystem.listStatus(FileSystem.java:2014)
	at org.apache.hadoop.fs.ChecksumFileSystem.listStatus(ChecksumFileSystem.java:761)
	at org.apache.hadoop.fs.FileSystem.listStatus(FileSystem.java:1972)
	at org.apache.hadoop.fs.FileSystem.listStatus(FileSystem.java:2014)
	at org.apache.hadoop.mapreduce.lib.output.FileOutputCommitter.getAllCommittedTaskPaths(FileOutputCommitter.java:334)
	at org.apache.hadoop.mapreduce.lib.output.FileOutputCommitter.commitJobInternal(FileOutputCommitter.java:404)
	at org.apache.hadoop.mapreduce.lib.output.FileOutputCommitter.commitJob(FileOutputCommitter.java:377)
	at org.apache.hadoop.mapred.FileOutputCommitter.commitJob(FileOutputCommitter.java:136)
	at org.apache.hadoop.mapred.OutputCommitter.commitJob(OutputCommitter.java:291)
	at org.apache.spark.internal.io.HadoopMapReduceCommitProtocol.commitJob(HadoopMapReduceCommitProtocol.scala:182)
	at org.apache.spark.internal.io.SparkHadoopWriter$.$anonfun$write$3(SparkHadoopWriter.scala:100)
	at scala.runtime.java8.JFunction0$mcV$sp.apply(JFunction0$mcV$sp.java:23)
	at org.apache.spark.util.Utils$.timeTakenMs(Utils.scala:605)
	at org.apache.spark.internal.io.SparkHadoopWriter$.write(SparkHadoopWriter.scala:100)
	... 51 more

# ======

In [ ]:
# als = ALS(
#          userCol="ID User", 
#          itemCol="ID Film",
#          ratingCol="Rating", 
#          nonnegative = True, 
#          implicitPrefs = False,
#          coldStartStrategy="drop"
# )

In [ ]:
# # Add hyperparameters and their respective values to param_grid
# param_grid = ParamGridBuilder() \
#             .addGrid(als.maxIter, [5, 10, 15]) \
#             .addGrid(als.rank, [10, 50, 100, 150]) \
#             .addGrid(als.regParam, [.1, .15]) \
#             .addGrid(als.numItemBlocks, [10, 20, 50]) \
#             .addGrid(als.numUserBlocks, [10, 20, 50]) \
#             .build()

In [ ]:
# # Define evaluator as RMSE and print length of evaluator
# evaluator = RegressionEvaluator(
#            metricName="rmse", 
#            labelCol="Rating", 
#            predictionCol="prediction") 
# print ("Num models to be tested: ", len(param_grid))

In [ ]:
# Build cross validation using CrossValidator
# cv = CrossValidator(estimator=als, estimatorParamMaps=param_grid, evaluator=evaluator, numFolds=5)

In [ ]:
# #Fit cross validator to the 'train' dataset
# model = cv.fit(training_dataset)
# #Extract best model from the cv model above
# best_model = model.bestModel
# # View the predictions
# test_predictions = best_model.transform(testing_dataset)
# RMSE = evaluator.evaluate(test_predictions)
# print(RMSE)

In [ ]:
# print("**Best Model**")
# # Print "Rank"
# print("  Rank:", best_model._java_obj.parent().getRank())
# # Print "MaxIter"
# print("  MaxIter:", best_model._java_obj.parent().getMaxIter())
# # Print "RegParam"
# print("  RegParam:", best_model._java_obj.parent().getRegParam())